{% extends "layouts/left_column.twig.html" %}
{% block title %}{{title}}{% endblock %}
{% block leftcol %}
<div class="list-group">
  <a href="{{base_url}}/account" class="list-group-item active">Account</a>
  <a href="{{base_url}}/account/details" class="list-group-item">Details</a>
  <a href="#" class="list-group-item">Mates</a>
  <a href="#" class="list-group-item">Bets</a>      
</div>
{% endblock %}
{% block content %}
	<div class="page-header">
		<h1>Account</h1>
	</div>
	{% if user.validate_email != 1 %}
	<div class="alert alert-warning alert-dismissible" role="alert">
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Warning!</strong> Please validate your email address. If you never received the email please <a href="{{base_url}}/" class="alert-link">click here</a> to send it again.
	</div>
	{% endif %}
	<div class="well">
		<p>General statistics regarding the user or grid links to the account areas.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta sollicitudin urna, non volutpat mi suscipit sit amet. Vestibulum consequat egestas pharetra. Nam porttitor, ante eget tincidunt aliquam, dui metus tincidunt purus, at blandit orci lacus a orci. Nam dignissim suscipit est id dignissim. Nunc nec tincidunt leo, non facilisis urna. Sed a turpis rhoncus mi euismod dictum eu vitae orci. Nam vitae mi sit amet neque finibus ultricies non nec enim. Etiam et nunc sit amet metus bibendum luctus. Mauris nunc quam, lobortis ac lacus in, tincidunt porta neque. Nam interdum pellentesque vulputate. In ultrices nulla quis nisl ornare efficitur. Quisque imperdiet eros leo, id dapibus felis malesuada et. Nam commodo felis urna, ut interdum lorem ultrices ac. Phasellus feugiat ultrices eros ac varius. Curabitur luctus elit vitae tincidunt placerat. Proin dictum mi non auctor feugiat.</p>
	</div>
{% endblock %}