{% extends "layouts/left_column.twig.html" %}
{% block title %}{{title}}{% endblock %}
{% block leftcol %}
<div class="list-group">
  <a href="{{base_url}}/account" class="list-group-item">Account</a>
  <a href="{{base_url}}/account/details" class="list-group-item">Details</a>
  <a href="{{base_url}}/account/mates" class="list-group-item">Mates</a>
  <a href="{{base_url}}/bet/list" class="list-group-item active">Bets</a>         
</div>
{% endblock %}
{% block content %}
	<div class="page-header">
		<h1>Bet <small>Add a new bet</small></h1>
	</div>
	<form class="bet-form" action="{{base_url}}/bet/add" method="post">
		<div class="form-group">
			<label>Bet description <a href="#" class="help-info-show"><span class="glyphicon glyphicon-info-sign"></span></a></label>
			<textarea name="description" class="form-control" rows="7" required></textarea>
			<p class="help-info well well-sm hide">Some help text. <small><a href="#" class="help-info-hide">[hide]</a></small></p>
		</div>	
		{% if mates|length > 0 %}
		<div class="form-group">
			<label>Bet against <a href="#" class="help-info-show"><span class="glyphicon glyphicon-info-sign"></span></a></label>
			<select class="form-control" name="name_id">
				<option value="0">- select mate or enter their name below -</option>
				{% for mate in mates %}
				<option value="{{ mate.id }}">{{ mate.nickname }}{% if mate.email|length %} ({{ mate.email }}){% endif %}</option>
				{% endfor %}
			</select>
			<input type="text" class="form-control second-form-control" name="name" placeholder="Enter the mates name if they are not in the mates list" required>
			<p class="help-info well well-sm hide">Some help text. <small><a href="#" class="help-info-hide">[hide]</a></small></p>
		</div>
		{% else %}
		<div class="form-group">
			<label>Bet against <a href="#" class="help-info-show"><span class="glyphicon glyphicon-info-sign"></span></a></label>
			<input type="text" class="form-control" name="name" placeholder="Enter who the bet is against" required>		
			<p class="help-info well well-sm hide">Some help text. <small><a href="#" class="help-info-hide">[hide]</a></small></p>
		</div>
		{% endif %}
		<div class="form-group">
			<label>Prize or Agreement <a href="#" class="help-info-show"><span class="glyphicon glyphicon-info-sign"></span></a></label>
			<input type="text" class="form-control" name="prize" placeholder="The winner gets..." required>
			<p class="help-info well well-sm hide">Some help text. <small><a href="#" class="help-info-hide">[hide]</a></small></p>
		</div>
		<div class="form-group">
			<label>Date due to finish <a href="#" class="help-info-show"><span class="glyphicon glyphicon-info-sign"></span></a></label>
			<div class="input-group datepicker">
				<input type="text" class="form-control" name="datedue" placeholder="Date due...">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
			<p class="help-info well well-sm hide">Some help text. <small><a href="#" class="help-info-hide">[hide]</a></small></p>			
		</div>
		<button type="submit" class="btn btn-primary">Save</button>
		<a href="#" id="advanced-options" class="pull-right">Advanced Bet Options</button>
	</form>
{% endblock %}

{% block java %}
<script>
  $(document).ready(function(){
    $('.bet-form').validator();
    $('.datepicker').datetimepicker();
		{% if mates|length > 0 %}    
    $('input[name="name"]').keyup(function(){
    	if ($(this).val().length>0) {
    		$('select[name="name_id"]').attr('disabled', 'disabled').attr('required',false).val('0');
    		$(this).attr('required',true);
    	} else {
    		$('select[name="name_id"]').removeAttr('disabled').attr('required',true);
    		$(this).attr('required',false);
    	}
    });
    $('select[name="name_id"]').change(function(){
    	if ($(this).val()>0) {
     		$('input[name="name"]').attr('disabled', 'disabled').attr('required',false).val('');
    		$(this).attr('required',true);   		
    	} else {
     		$('input[name="name"]').removeAttr('disabled').attr('required',true);
    		$(this).attr('required',false);   		
    	}
    });
    {% endif %}
    $('.help-info-show').click(function(){
    	$(this).closest('.form-group').find('.help-info').removeClass('hide');
    });
    $('.help-info-hide').click(function(){
    	$(this).closest('.form-group').find('.help-info').addClass('hide');
    });    
  });
</script>
{% endblock %}