{% extends "layouts/full_width.twig.html" %}

{% block title %}{{title}}{% endblock %}
{% block content %}
<form class="form-signin" action="{{base_url}}/login" method="post">
  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="remember" value="remember-me"> Remember me
    </label>
    <a href="{{base_url}}/forgotten-login" title="Forgotten Login" class="pull-right">Forgotten login?</a>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <a class="btn btn-lg btn-success btn-block" href="{{base_url}}/register">Register!</a>
  {% if error == true %}
  <br>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Error!</strong> {{message}}
  </div>
  {% endif %}
</form>
{% endblock %}