{% extends "layouts/left_column.twig.html" %}
{% block title %}{{title}}{% endblock %}
{% block leftcol %}
<div class="list-group">
  <a href="{{base_url}}/account" class="list-group-item">Account</a>
  <a href="{{base_url}}/account/details" class="list-group-item">Details</a>
  <a href="{{base_url}}/account/mates" class="list-group-item active">Mates</a>
  <a href="{{base_url}}/account/bets" class="list-group-item">Bets</a>      
</div>
{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>Account <small>Mates</small></h1>
	</div>
	<div class="btn-group" role="group" aria-label="...">
	  <a href="{{base_url}}/account/mates" class="btn btn-default active">List</a>
	  <a href="{{base_url}}/account/mates/add" class="btn btn-default">Add</a>
	  <a href="{{base_url}}/account/mates/stats" class="btn btn-default">Stats</a>
	</div>
  {% if success == true %}
  <hr>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong> {{message}}
  </div>
  {% endif %}		
  <hr>
  {% if mates|length > 0 %}
  <table class="table table-striped table-bordered" width="100%" id="data-table">
    <thead>
      <tr>
        <th>Nickname</th>
        <th>Email</th>
        <th>Date Added</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for mate in mates %}
      <tr>
        <td>{{ mate.nickname }}</td>
        <td>{{ mate.email }}</td>
        <td>{{ mate.date_added }}</td>
        <td>
          <a href="{{base_url}}/account/mates/edit/{{ mate.id }}" class="btn btn-xs btn-default" aria-label="Edit">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </a>
        </td>
      </tr>  
    {% endfor %}
    </tbody>
  </table>
  <
  {% endif %}
{% endblock %}

{% block java %}
<script src="{{ siteUrl('/assets/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ siteUrl('/assets/js/dataTables.bootstrap.min.js') }}"></script>
<script>
  $(document).ready(function(){
    $('#data-table').dataTable();
  });
</script>
{% endblock %}